@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+IS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
  }
  
  .headingnav {
    font-family: "Playwrite IS", cursive;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navelements ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
  }
  
  .navelements li {
    margin: 0;
  }
  
  .navelements a {
    color: white;
    text-decoration: none;
    font-size: 22px;
  }
  
  .navelements a:hover {
    text-decoration: underline;
  }
  